@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
body{
  background: rgb(36,26,0);
  background: linear-gradient(90deg, rgba(36,26,0,0.9722814498933902) 0%, rgba(6,61,84,0.9850746268656716) 100%); 
  color: white;
  height: 100vh;
}
.App{
  font-family: 'Andika', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.buttons{
  display: flex;
  justify-content: center;
}

button{
  padding: 0.3rem;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.start-button.hide{
  display: none;
}
.end-button.hide{
  display: none;
}
